footer {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 2em;
    
    display: flex;
    flex-direction: column;
    gap: 2em;
}
footer img:not(.socials img) {
    width: 50%;
}
.socials {
    display: flex;
    gap: 1em;
}
.socials img {
    width: 33px;
}
li:not(.socials li) {
    margin-bottom: 1em;
}

footer li {
    list-style-type: none;
    font-weight: 100;
    font-size: 14px;
    
}
.mail li {
    color: var(--lightblue);
}
footer li a {
    color: var(--lightblue);
}

footer li a:hover {
    color: var(--darkblue);
}