footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    

    bottom: 0;
    width: 100%;
    
}
footer li {
    list-style-type: none;
    font-weight: 100;
    font-size: 14px;
    margin-top: 5px;
}
footer li a {
    color: white;
}

footer li a:hover {
    color: var(--lightblue);
}