*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* montserrat,  */
  margin: 0;
  padding: 0;
}


:root {
  --green: #00C300;
  --darkblue: #004AAD;
  --lightblue: #5DE0E6;
  
}

main {
  min-height: 100vh;
}
body {
  
  margin: 0;
  min-height: 100vh;
  background-color: #333;
  /* background: linear-gradient(170deg, rgba(93,224,230,1) 5%, rgba(0,74,173,1) 100% );  */
} 

h1 {
  font-size: 52px;
  color: white;
  text-transform: uppercase;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 32px;
}

.buttons {
  display: flex;
  gap: 1em;
  align-items: center;
  
}
.button1 {
  height: 50px;
  width: 150px;
  padding: 1em 2em;
  border: none;
  background-color: white;
  color: black;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  box-shadow: 2px 1px 7px rgba(43, 43, 43, 0.6);  
}
.button1 a{
  text-decoration: none;
  color: black;
}
.button1:hover {
  color: white;
  background-color: black;
}
.button1:hover a{
  color: white;
}
.button2 {
  height: 50px;
  width: 150px;
  padding: 1em 2em;
  border: none;
  background-color: var(--lightblue);
  color: white;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: .2s;
  box-shadow: 2px 1px 7px rgba(43, 43, 43, 0.6);  
}
.button2 a{
  text-decoration: none;
  color: black;
}
.button2:hover {
  color: white;
  background-color: black;
}
.button2:hover a{
  color: white;
}
 p {
  font-size: 14px;
 }

@media (min-width: 900px) {
  .content {
    display: flex;
    justify-content: center;
   }
   
  
  
}

@media (min-width: 1050px) {
  .content section {
    width: 60em;
  }
  
}