.intro {
    padding: 2em 0 4em 0;
    background-color: var(--lightblue);
    display: flex;
    flex-direction: column;
}
.intro img {
    width: 20em;
    padding: 1em;
}

.textarea {
    background-color: white;
    width: 75%;
    margin-left: 5em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}
.intro h2 {
    font-size: 30px;
    color: #333;
}
.intro button {
    background-color: #333333;
    color: white;
    box-shadow: none;
}
.intro button:hover {
    background-color: white;
    color: #333;
    outline: 1px solid #333;
}

@media (min-width:1200px) {
    .intro {
        padding: 2em 8em 4em 8em;
       
    }
}