.landing {
    background-image: url(/images/party.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.landing h1 {
    color: white;
    font-size: 68px;
    text-transform: uppercase;
    text-align: center;
}

.landing p {
    color: white;
    font-weight: 700;
    font-size: 20px;
}